<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assignment4.Properties.Settings.comp1004ConnectionString" connectionString="Data Source=mayankb.database.windows.net;Initial Catalog=comp1004;Persist Security Info=True;User ID=mack0082;Password=radhaSwami12#$" providerName="System.Data.SqlClient" />
    <add name="ProductsContentConnection" connectionString="data source=mayankb.database.windows.net;initial catalog=comp1004;persist security info=True;user id=mack0082;password=radhaSwami12#$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>